{% extends "layout/base_slides.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="reveal">
<div class="slides">

    <section class="stack" data-id="0b765019b60bbd6d614dd845b866093d">
        <section class="" data-id="99e1289b4b160c9bacd4255d2a10a601" data-background-size="contain">
            <h1>
                <br>
            </h1>
<div>
            <br>
        </div>
<div>
        <br>
    </div>
<div>
    <br>
</div>
<div>
<br>
</div>
<div>
<br>
</div>
<div>
<br>
</div>
<div style="text-align: left; position: absolute; width: 352px; height: 57px; z-index: 8; left: 5px; top: 507px;" class="absolute-element">
<font color="#ff9900" style="font-size: 54px;">lenderstanding</font>
</div>
<div style="text-align: left; ">
<br>
</div>
<div style="text-align: left; ">
<br>
</div>
<div style="text-align: left; position: absolute; width: 414px; height: 46px; z-index: 5; left: 4px; top: 576px;" class="absolute-element">credit risk model for <font color="#ff9900">Zidisha</font>
</div>
<div style="text-align: left; position: absolute; width: 301px; height: 46px; z-index: 6; left: 5px; top: 621px;" class="absolute-element">helping lenders help</div>
<div>
<br>
</div>
<div style="text-align: right; ">Vanessa Heckman</div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496375/header-bg-lr.jpg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 1070px; height: 406px; z-index: 7; left: -15px; top: 71px;">
</section>
<section class="" data-id="a2123302a6ef12062e50817fc966ae0d">
    <h2>
        <br>
    </h2>
    <div class="absolute-element" style="position: absolute; width: 138px; height: 46px; z-index: 4; left: 405px; top: 28px;">Backend</div>
    <div>
        <br>
    </div>
    <div class="absolute-element" style="position: absolute; width: 965px; height: 601px; z-index: 4; left: 6px; top: 64px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496885/flowchart1-01-01.png">
        <br>
    </div>
    <div>
        <br>
    </div>
</section>
<section class="" data-id="27bff18c76f8a1eb8228515a32104ed6">
    <h2>
        <br>
    </h2>
    <div class="absolute-element" style="position: absolute; width: 149px; height: 46px; z-index: 4; left: 399px; top: 23px;">Modeling</div>
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496886/flowchart2-01-01.png">
</section>
<section class="" data-id="8d592de81360b4971e15df0879329332">
    <h2 class="absolute-element" style="position: absolute; width: 311px; height: 185px; z-index: 4; left: 372px; top: 335px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496463/fuji.jpg" style="width: 271.19015066658017px; height: 145.28100078667393px; max-height: none; max-width: none;">
    <br>
</h2>
<div>
    <br>
</div>
<div>
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 282px; height: 46px; z-index: 5; left: 658px; top: 631px;">
<font color="#ff9900" style="font-size: 32px;">Vanessa Heckman</font>
</div>
<div style="text-align: left; position: absolute; width: 495px; height: 46px; z-index: 17; left: 173px; top: 34px;" class="absolute-element">
<font color="#ff9900" style="font-size: 32px;">California Institute of Technology</font>
</div>
<div style="text-align: left; position: absolute; width: 495px; height: 46px; z-index: 11; left: 210px; top: 41px;" class="absolute-element">
<br>
</div>
<div style="text-align: left; position: absolute; width: 495px; height: 46px; z-index: 12; left: 210px; top: 41px;" class="absolute-element">
<br>
</div>
<div style="text-align: left; position: absolute; width: 612px; height: 46px; z-index: 13; left: 180px; top: 75px;" class="absolute-element">
<font style="font-size: 24px;">Dept. of Mechanical and Civil Engineering</font>
</div>
<div style="text-align: left; position: absolute; width: 612px; height: 46px; z-index: 14; left: 210px; top: 99px;" class="absolute-element">
<br>
</div>
<div style="text-align: left; position: absolute; width: 612px; height: 46px; z-index: 15; left: 210px; top: 99px;" class="absolute-element">
<br>
</div>
<div style="text-align: left; position: absolute; width: 612px; height: 46px; z-index: 16; left: 210px; top: 99px;" class="absolute-element">
<br>
</div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496445/207-primarylogo200.gif" style="width: 166px; height: 165px; max-height: none; max-width: none; position: absolute; z-index: 10; left: -12px; top: -15px;" class="absolute-element">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496447/APSS_pic.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 375.47950610044995px; height: 507.55858895504707px; z-index: 9; left: -12px; top: 179px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496448/DSC00087-1.jpg" style="width: 149.59379851102733px; height: 191.03981762398905px; max-height: none; max-width: none; position: absolute; z-index: 8; left: 377px; top: 493px;" class="absolute-element">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496449/osaka_droid_1.jpg" style="width: 133.53534631126337px; height: 241.61660943286273px; max-height: none; max-width: none; position: absolute; z-index: 18; left: 798px; top: 273px;" class="absolute-element">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496459/thesis_fig6.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 347.5526325984603px; height: 135.2343568731358px; z-index: 7; left: 582px; top: 123px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496451/thesis_fig5.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 204.79863446130418px; height: 59.70083755323392px; z-index: 4; left: 725px; top: 51px;">
</section>
</section>
<section class="" data-id="57ac969b792980550fdb7523124b8bbd" data-background-image="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496381/homepage.jpg" data-background-size="contain">
    <h2>
        <br>
    </h2>
</section>
<section class="" data-id="b32ba410e351c187802837a90ed375a0">
    <h2>&nbsp; &nbsp;</h2>
<div class="absolute-element" style="position: absolute; width: 229px; height: 46px; z-index: 4; left: 709px; top: 57px;">meet <font color="#ff9900">Kevinson</font>
</div>
</section>
<section class="" data-id="1e42d58092114147c8b3a20f3e3e2f6a">
    <h2>
        <br>
    </h2>
<div class="absolute-element" style="position: absolute; width: 232px; height: 46px; z-index: 6; left: 715px; top: 10px;">meet <font color="#ff9900">Kevinson</font>
</div>
<div class="absolute-element" style="position: absolute; width: 687px; height: 662.2662116040956px; z-index: 5; left: -78px; top: -22px; max-height: none; max-width: none;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496437/kevinson.png" style="width: 769.888271477166px; height: 741.3435718902006px; max-height: none; max-width: none;">
    <br>
</div>
<div>
    <br>
</div>
<div style="text-align: right; ">sharing the</div>
<div style="text-align: right; ">
<font color="#ff9900">entrepreneurial</font>&nbsp;</div>
<div style="text-align: right; ">experience...</div>
<div style="text-align: right; ">
<br>
</div>
<div style="text-align: right; ">
<br>
</div>
<div style="text-align: right; ">
<br>
</div>
<div style="text-align: right; ">... shaping the</div>
<div style="text-align: right; ">
<font color="#ff9900">lending</font>
</div>
<div style="text-align: right; ">experience</div>
</section>
<section class="" data-id="fbd532ac53425298493d1aac548edf99">
    <h2 class="absolute-element" style="position: absolute; width: 442px; height: 549px; z-index: 6; left: -27px; top: 64px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496396/borrower_info.jpg" style="width: 374.30054644548176px; height: 510.47420332448047px; max-height: none; max-width: none;">&nbsp;&nbsp;</h2>
<div class="absolute-element" style="position: absolute; width: 33px; height: 46px; z-index: 4; left: 679px; top: 34px;">&nbsp; &nbsp;&nbsp;</div>
<div>
    <br>
</div>
<div class="absolute-element" style="position: absolute; width: 567px; height: 398px; z-index: 4; left: 541px; top: 63px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496414/kevinson_info.jpg" style="width: 271.46448087171126px; height: 179.7730508620263px; max-height: none; max-width: none;">
<br>
</div>
<div>
<br>
</div>
<div>
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 22px; height: 46px; z-index: 4; left: 113px; top: 19px;">&nbsp;&nbsp;</div>
<div>&nbsp;&nbsp;</div>
<div class="absolute-element" style="position: absolute; width: 361px; height: 46px; z-index: 4; left: 284px; top: 19px;">Tool for <font color="#ff9900">Zidisha</font>
</div>
<div>&nbsp;&nbsp;</div>
<div class="absolute-element" style="position: absolute; width: 241px; height: 46px; z-index: 7; left: 707px; top: 637px;">
<font color="#ff9900">credit risk score</font>
</div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496401/loan_info.jpg" style="width: 292px; height: 370px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 365px; top: 63px;" class="absolute-element">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vmheckman/images/496411/sift-logo-in-magento_5_1.png" style="width: 276.35718339955787px; height: 276.35718339955787px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 673px; top: 260px;" class="absolute-element">
</section>


    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
