{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
	<div class="container w">
        <h4>Loan Application: ID {{loan_id}}</h4><br>
            <div class="row">
                <div class="col-md-4">
                    <img src="static/images/foo.jpg" width = 100%>
                </div>
                <div class="col-md-4">
					<div>
                    <b>Loan ID: {{loan_id}}</b><br>
                    <b>Name: {{loan_info[0]['name']}}</b><br>
<!--                    <b>Gender: {{loan_info[0]['borrowers_gender']}}</b><br>
                    <b>Posted Month: {{posted_date_months}}</b><br>
                    <b>Location: {{loan_info[0]['location_country']}}</b><br>
                    <b>Sector: {{loan_info[0]['sector']}}</b><br>
                    <b>Loan Amount: ${{loan_info[0]['loan_amount']}}</b><br>     -->
                    <b>Repayment Term: {{loan_info[0]['terms_repayment_term']}} months</b><br>
						
					</div>
	                    <div>
						</div> 	
                </div>
				
                <div class="col-md-4">
					
                    <h4>Approval Action:</h4>
                    {% if ypred == "Default" %}
                    <h4><font color="red"> Reject loan </font>
                    <i class="fa fa-check"> </i></h4>
                    <!-- <meter value="{{prob_fund}}"></meter>-->
                    {% else %}
                    <h4><font color="green"> Approve loan </font></h4>
					{% endif %}

	                    <h4>Loan Prediction:
	                    {% if ypred == "Default" %}
	                    <h4><font color="red"> {{ypred}} </font>
	                    <i class="fa fa-check"> </i></h4>
	                    <!-- <meter value="{{prob_fund}}"></meter>-->
	                    {% else %}
	                    <h4><font color="green">{{ypred}} </font></h4>
						{% endif %}

	                    <h4>Chance of Default:
	                    {% if ypred == "Default" %}
	                    <h4><font color="red"> {{prob_fund}} </font>
	                    <i class="fa fa-check"> </i></h4>
	                    <!-- <meter value="{{prob_fund}}"></meter>-->
	                    {% else %}
	                    <h4><font color="green">{{prob_fund | round(2)}} </font></h4>
						{% endif %}

	                    <!-- <meter value="{{prob_fund}}"></meter>-->
	                    <!--<b><font color = "#555"> {{prob_fund}} </font></b> 			
	                    <br><br>
	                    <div id="browse_app">
	                        <a class="btn btn-large btn-danger" href="/eval.html"> <b> Tailor Loan </b></a>
	                    </div>
	                    
	                    <!-- centered row -->
				
				
                </div>

        </div><!--end rows  -->


        <br><br><br><br>

	</div><!-- container -->
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
<!--  {% include "include/footer.html" %} -->
{% endblock %}
