{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
	<div class="container w">
        <!--<h4>Loan Application ID: {{loan_id}}</h4><br>-->
            <div class="row">
                <div class="col-md-4 well">
                    <b>First name:</b> {{loan_info[0]['first']}}<br>
                    <b>City:</b> {{loan_info[0]['city']}}<br>
					<b>Country:</b> {{loan_info[0]['country']}}<br>
                    <b>Sift Science Score:</b> {{loan_info[0]['sift_score']}}<br> <br>
					
                    <img src= {{image_id_str}} width = 100%>
					<!--src="{{url_for('static', filename='test.jpg')}}"!-->
					
                </div>
                <div class="col-md-4 well">

                    <b>Loan Application ID:</b> {{loan_id}}<br><br>
                    <b>Loan Amount (local currency):</b> {{loan_info[0]['amount']}}<br>
                    <b>Interest:</b> {{loan_info[0]['interest']}}%<br>
                    <b>Period:</b> {{loan_info[0]['period']}} months<br><br>
                    <b>Referred by:</b> {{loan_info[0]['reffered_by']}}<br>
                    <b>Loan use:</b> {{loan_info[0]['loanuse']}}<br><br>
	                    
	                <!-- centered row -->

	                <div>
					</div> 	
                </div>
				
				<div>
						
				</div>
                <div class="col-md-4 well">

	                    <h4>Probability of Default:
	                    {% if y == 1 %}
	                    <font color="red"> {{prob_default |round(0)}}% </font>
					    </h4>
	                    {% else %}
	                    <font color="green"> {{prob_default | round(0)}}% </font></h4>
						{% endif %}
						
	                    <h4>Loan Prediction:
	                    {% if y == 1 %}
	                    <font color="red">{{ypred}} </font>
					    </h4>
	                    {% else %}
	                    <font color="green"> <br> {{ypred}} </font></h4>
						{% endif %}
					
					<b>Factors Considered:</b><br> 
					- Sift Science Score<br> 
					- Interest<br> 
					- Period<br>	
					- Included National ID photo<br>
					- Included Phone Nnumbers<br>
					- Time Taken to Complete L	oan<br>
                </div>
				
									  

        </div><!--end rows  -->


        <br><br><br><br>

	</div><!-- container -->
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
<!--  {% include "include/footer.html" %} -->
{% endblock %}
